#contact-info, #contact-form {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

#contact-form form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  transition: 0.3s;
}

input:focus, textarea:focus {
  border-color: #00e676;
}

input[type="submit"] {
  background-color: #00e676;
  border: none;
  padding: 12px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #03c46a;
}
