.min-h-screen { min-height: 100vh; }
.mx-auto { margin-left: auto; margin-right: auto; }
.flex { display: flex; flex-wrap: wrap; }
.items-center { align-items: center; }
.justify-between { justify-content: space-between; }
.justify-center { justify-content: center; }
.flex-col { flex-direction: column; }
.text-center { text-align: center; }
.font-bold { font-weight: 700; }
.my-1 { margin: 15px 0; }
.my-2 { margin: 25px 0; }
.px-2 { padding: 0 15px; }

.btn {
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  background-color: #00e676;
  color: #fff;
  border: none;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #03c46a;
  transform: translateY(-2px);
}
